<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloom | Main Page</title>
    <link rel="stylesheet" href="/mainpage.css" />
  </head>
  <body>
    <div class="header">
      <div class="navbara">
        <div class="sub-top-logo">
          <a href="/"><img src="Images/logo.webp" alt="Bloom logo" /> Bloom</a>
        </div>
      </div>
      <div class="navbarb">
        <ul>
          <li>Plant-ID</li>
          <li>Disease-ID</li>
          <li id="profile">Profile</li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="heading1">
        <p>
          <span>At Bloom</span>, we're not just cultivating plants, we're
          cultivating a movement toward a greener, healthier planet. Join us in
          making a lasting impact and spreading the beauty of nature far and
          wide.
        </p>
        <div class="rightside"></div>
        <p>The future is green. Let it <span>bloom</span> with us.</p>
        <button class="Identify">Identify Now</button>
      </div>
    </div>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.132.2/build/three.module.js",
          "three/examples/jsm/controls/TrackballControls": "https://unpkg.com/three@0.132.2/examples/jsm/controls/TrackballControls.js",
          "three/examples/jsm/loaders/OBJLoader": "https://unpkg.com/three@0.132.2/examples/jsm/loaders/OBJLoader.js",
          "three/examples/jsm/math/MeshSurfaceSampler": "https://unpkg.com/three@0.132.2/examples/jsm/math/MeshSurfaceSampler.js"
        }
      }
    </script>
    <script type="module" src="/mainpage.js"></script>
  </body>
</html>
